.App > nav {
  background-color: #0E2B22;
  padding: 20px;
  font-size: 20px;
  font-size: large;
}

.App > footer {
  background-color: #0E2B22;
  padding: 20px;
  color: white;
  margin-bottom: 0px;
  font-size: 20px;
}

.App {
  /* background-color: #D0F0C0 ; */
  background-color: #145742;
}